[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
aiohttp = "*"
asyncio = "*"
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
datetime = "*"
django-rest-auth = "*"
django-allauth = "*"
alive-progress = "*"
tqdm = "*"
django-postgres-copy = "*"
serpy = "*"
marshmallow = "*"
django-debug-toolbar = "*"
django-redis = "*"
django-environ = "*"
boto = "*"
whitenoise = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.10"
